::root{
    --primary: rgb(118,168,192);
    --secondary: rgb(37, 150, 190);
    --dark: rgb(47, 50, 49);
    --light: rgb(226, 225, 196);
    --complimentary: rgb(184, 116, 96);
}

body {
    background-image: url(../Images/Eggs.jpg);
    /* background: no-repeat; */
    background-size: 3000px;
    /* background-position-y: -400px ; */
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
main{
    display: flex;
    width: 50%;
    margin: auto;
    height: fit-content;
}
.stuff{
    padding-top: 50px;
    height: 100%;
    padding-bottom: 100px;
}
.select{
    margin-left: 10px;
    margin-bottom: 20px;

}
.products {
    width: 90%;

}
#mainContent {
    margin-top: 20px;
}
#card {
    margin: 10px;
}
.orderList {
    display: flex;
    flex-direction: row;
    height: fit-content;
    border-top: rgb(212, 212, 212) 1px solid;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 30px;
}
.order {
    margin-right: 30px;
}
.clearButton{
    height: 25px;
    width: 33px;
    background-image: url('../Images/clearbtn.png');
    background-size: 40px;
    border: none;
}
#map {
    height: 400px;
    width: 100%;
}
.time {
    height: fit-content;
    font-size: 30px;
}